제목: iterable 자료형

부제목: 인덱싱

In [2]:
x_list = [0,1,2,3,4]

print(x_list[0])
print(x_list[1])
print(x_list[2])
print(x_list[3])
print(x_list[4])

0
1
2
3
4

In [5]:
x_list = [0,1,2,3,4]

print(x_list[-1])
print(x_list[-2])
print(x_list[-3])
print(x_list[-4])
print(x_list[-5])

4
3
2
1
0

In [6]:
try:
    print(x_list[5])
except IndexError as e:
    print(e)

list index out of range

In [18]:
x_list = [1,2,3,4,5]
x_tuple = (1,2,3,4,5)

print(f'{x_list=}\t =>{x_list[-1] = }')

print(f'{x_tuple=}\t =>{x_tuple[-1] = }')

x_list=[1, 2, 3, 4, 5]	 =>x_list[-1] = 5
x_tuple=(1, 2, 3, 4, 5)	 =>x_tuple[-1] = 5

In [19]:
x_dict = {'name': ['김홍익','이파이'], 'id':[12345, 67890]}

print(f'{x_dict = }\t => {x_dict['name'][0] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]}	 => x_dict['name'][0] = '김홍익'

In [23]:
x_str = 'hello world!'

print(f'{x_str = }\t\t=>{x_str[0] = }')

print(f'{x_str = }\t\t=>{x_str[2] = }')

x_str = 'hello world!'		=>x_str[0] = 'h'
x_str = 'hello world!'		=>x_str[2] = 'l'

부제목: 슬라이싱

In [24]:
x_list = [0,1,2,3,4]

print(x_list[1:3])
print(x_list[1:])
print(x_list[:3])
print(x_list[:])

[1, 2]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4]

In [30]:
try:
    print(x_list[1:10])
except IndexError as e:
    print(e)

[1, 2, 3, 4]

In [45]:
x_list = [1,2,3,4,5]
x_tuple = (1,2,3,4,5)

print(f'{x_list = }\t=>{x_list[0:3] = }')

print(f'{x_tuple = }\t=>{x_tuple[-1:-4:-1] = }')

x_list = [1, 2, 3, 4, 5]	=>x_list[0:3] = [1, 2, 3]
x_tuple = (1, 2, 3, 4, 5)	=>x_tuple[-1:-4:-1] = (5, 4, 3)

In [46]:
x_dict = {'name': ['김홍익','이파이'], 'id':[12345, 67890]}

print(f'{x_dict =} \t=> {x_dict['name'][0:-1] = }')

x_dict ={'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	=> x_dict['name'][0:-1] = ['김홍익']

In [53]:
x_str = 'Hello World!'
print(f'{x_str = }\t\t=> {x_str[0:3] = }')

print(f'{x_str = }\t\t=> {x_str[-2:-10:-2] = }')

x_str = 'Hello World!'		=> x_str[0:3] = 'Hel'
x_str = 'Hello World!'		=> x_str[-2:-10:-2] = 'drWo'

부제목: 얕은 복사와 깊은 복사

In [2]:
x = (1,2,3)

y = x
print(f'{x =}\t=>{id(x) = }')
print(f'{y =}\t=>{id(y) = }')

x =(1, 2, 3)	=>id(x) = 2555078422464
y =(1, 2, 3)	=>id(y) = 2555078422464

In [3]:
y = (1,20,3)
print(f'{x =}\t=>{id(x) = }')
print(f'{y =}\t=>{id(y) = }')

x =(1, 2, 3)	=>id(x) = 2555078422464
y =(1, 20, 3)	=>id(y) = 2555100189056

In [4]:
x = [1,2,3]

y=x
print(f'{x = }\t=>{id(x) = }')
print(F'{y = }\t=>{id(y) = }')

x = [1, 2, 3]	=>id(x) = 2555099872128
y = [1, 2, 3]	=>id(y) = 2555099872128

In [ ]:
y[1] = 20

print(f'{x = }\t=>{id(x) = }')
print(f'{y = }\t=>{id(y) = }')

x = [1, 20, 3]	=>id(x) = 2555099872128
y =[1, 20, 3]	=>id(y) = 2555099872128

In [6]:
x= [1,2,3]

y = x.copy()

print(f'{x =}\t=>{id(x) = }')
print(f'{y =}\t=>{id(y) = }')

x =[1, 2, 3]	=>id(x) = 2555112036992
y =[1, 2, 3]	=>id(y) = 2555112030528

In [7]:
y[1] = 20

print(f'{x =}\t=>{id(x) = }')
print(f'{y =}\t=>{id(y) = }')

x =[1, 2, 3]	=>id(x) = 2555112036992
y =[1, 20, 3]	=>id(y) = 2555112030528

부제목: 리스트와 튜플

In [26]:
x_list = [1,2,3,4,5]
x_tuple = (1,2,3,4,5)

print(f'x_list는 {type(x_list)}이고, x_tuple은 {type(x_tuple)}이다')

x_list는 <class 'list'>이고, x_tuple은 <class 'tuple'>이다

In [27]:
print(f'Before: {x_list = }')
try:
    x_list[1] = '2'

    del x_list[3]
except TypeError as e:
    print(f'Error: {e}')

print(f'After: {x_list = }')

Before: x_list = [1, 2, 3, 4, 5]
After: x_list = [1, '2', 3, 5]

In [35]:
print(f'Before: {x_tuple = }')
try:
    x_tuple[1] = '2'
except TypeError as e:
    print(f'Error : {e}')

try:
    del x_tuple[3]
except TypeError as e:    
    print(f'Error : {e}')

print(f'After : {x_tuple = }')

Before: x_tuple = (1, 2, 3, 4, 5)
Error : 'tuple' object does not support item assignment
Error : 'tuple' object doesn't support item deletion
After : x_tuple = (1, 2, 3, 4, 5)

In [36]:
x_list = [0,1,2,3,4]

print(f'{len(x_list) = }')
print(f'{sum(x_list) = }')
print(f'{min(x_list) = }')
print(f'{max(x_list) = }')
print(f'{sorted(x_list) = }')
print(f'{sorted(x_list, reverse=True) = }')
print(f'{all(x_list) = }')
print(f'{any(x_list) = }')

len(x_list) = 5
sum(x_list) = 10
min(x_list) = 0
max(x_list) = 4
sorted(x_list) = [0, 1, 2, 3, 4]
sorted(x_list, reverse=True) = [4, 3, 2, 1, 0]
all(x_list) = False
any(x_list) = True

In [37]:
print(dir(x_list), end='\n'+'='*80+'\n')

print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
================================================================================
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [39]:
x_list = [1,2,3,4,5,2,3,2]
print(f'{x_list = }')

print(f'{x_list.count(2) = }')
print(f'{x_list.index(2) = }')

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list.count(2) = 3
x_list.index(2) = 1

In [43]:
y_list = x_list.copy()

print(f'{y_list = }')
print(f'{x_list is y_list = }')

print(f'{id(x_list) = }, {id(y_list) = }')

y_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list is y_list = False
id(x_list) = 2555102090880, id(y_list) = 2555101810880

In [44]:
x_list.reverse()
print(f'{x_list = }')

x_list = [2, 3, 2, 5, 4, 3, 2, 1]

In [45]:
x_list.sort()
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5]

In [46]:
x_list.append(6)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]

In [55]:
x_list.extend([7,8,9])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9]

In [56]:
x_list.append([10,11,12])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9, [10, 11, 12]]

In [57]:
x_list.insert(3,3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9, [10, 11, 12]]

In [58]:
x_list.remove(3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9, [10, 11, 12]]

In [59]:
x_list.pop()
print(f'{x_list =}')

x_list.pop(7)
print(f'{x_list = }')

x_list =[1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9]

In [62]:
x_pop = x_list.pop(0)
print(f'{x_list = }, {x_pop = }')
x_list.clear()
print(f'{x_list = }')

x_list = [2, 2, 2, 3, 3, 4, 6, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, [10, 11, 12], 7, 8, 9, 7, 8, 9], x_pop = 1
x_list = []

In [63]:
del x_list

try:
    print(f'{x_list = }')
except NameError as e:
    print(f'Error: {e}')

Error: name 'x_list' is not defined

부제목: 문자열

In [64]:
string1 = "Hello Python! My name is Python. I am a Python Developer."
print(string1)

Hello Python! My name is Python. I am a Python Developer.

In [65]:
string2 = 'Hello Python! My name is Python. I am aPython Developer'
print(string2)

Hello Python! My name is Python. I am aPython Developer

In [67]:
string3 = """Hello Python!!
My name is Python.
I am a Python Developer.
"""
print(string3)

Hello Python!!
My name is Python.
I am a Python Developer.

In [68]:
string4 = '''Hello Python!
My name is Python.
I am a Python Developer.
'''
print(string4)

Hello Python!
My name is Python.
I am a Python Developer.

In [73]:
string = 'Helllo \tPython! \nMy \tname \tis \tPython. \nI \tam \ta \tPython \tDeveloper.'
print(string)

Helllo 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Developer.

In [76]:
string = 'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.'
print(string)

Hello 	\Python\!
My 	name 	is 	'Python'!.
I 	am 	a 	"Python" 	Developer.

In [77]:
string_r = r'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!.\nI\tam\ta\t\"Python\"\tDeveloper'
print(string_r)

Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!.\nI\tam\ta\t\"Python\"\tDeveloper

In [79]:
name = 'Python'
string_f = f'Hello {name}! My name is {name}. I am a {name} Devloper.'
print(string_f)

Hello Python! My name is Python. I am a Python Devloper.

In [88]:
string = "Hello Python! my name is Python. I am a Python Developer."
print(f'''
==== 인덱싱(포인트) ====
{string[0]=}
{string[3]=}
{string[-1]=}
{string[-3]=}

==== 슬라이싱(구간) ====
{string[0:5]=}
{string[6:12]=}
{string[:5]=}
{string[6:]=}
{string[6:-1]=}
{string[6:-3]=}

==== 스텝(간격) ====
-인덱스 6부터 2칸씩 12까지
{string[6:12:2]=}
-처음부터 끝까지 2칸씩
{string[::2]=}
-처음부터 끝까지 거꾸로 1칸씩
{string[::-1]=}
''')

==== 인덱싱(포인트) ====
string[0]='H'
string[3]='l'
string[-1]='.'
string[-3]='e'

==== 슬라이싱(구간) ====
string[0:5]='Hello'
string[6:12]='Python'
string[:5]='Hello'
string[6:]='Python! my name is Python. I am a Python Developer.'
string[6:-1]='Python! my name is Python. I am a Python Developer'
string[6:-3]='Python! my name is Python. I am a Python Develop'

==== 스텝(간격) ====
-인덱스 6부터 2칸씩 12까지
string[6:12:2]='Pto'
-처음부터 끝까지 2칸씩
string[::2]='HloPto!m aei yhn  maPto eeoe.'
-처음부터 끝까지 거꾸로 1칸씩
string[::-1]='.repoleveD nohtyP a ma I .nohtyP si eman ym !nohtyP olleH'

In [92]:
string = "Hello Python! " + "My name is Python. "+ "I am a Python Developer."
print(string)

Hello Python! My name is Python. I am a Python Developer.

In [93]:
string = "Hello Python! "*3
print(string)

Hello Python! Hello Python! Hello Python!

In [1]:
string = "2024_바이오헬스 교과목 목록.xlsx"

print(len(string))

print('2024' in string)

print('csv'not in string)

22
True
True

부제목: 딕셔너리

In [4]:
my_dict1 = {}
my_dict2 = ()

print(f'{my_dict1 = }\n{my_dict2 = }')

my_dict1 = {}
my_dict2 = ()

In [1]:
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}

my_dict2 = dict(name='Max', age=28, city='New York')

my_dict3 = dict([('name', 'Max'), ('age',28), ('city', 'New York')])

print(f'{my_dict1 = }\n{my_dict2 = }\n{my_dict3 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict3 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [2]:
person_keys = ['name', 'age', 'city']
person_values = ['Max', 28, 'New York']

my_dict4 = dict(zip(person_keys, person_values))
print(f'{my_dict4}')

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [3]:
my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'},
                'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}
print(f'{my_dict_dict = }')

my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}

In [4]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 28, 'city': 'New York', 'name': 'Max'},
 'B': {'age': 22, 'city': 'Seoul', 'name': 'Mary'}}

In [5]:
print(f'{my_dict1 = }')

print(f'{type(my_dict1) = }')

print(f'{len(my_dict1) = }')

print("name" in my_dict1)

print("Max" in my_dict1)

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
type(my_dict1) = <class 'dict'>
len(my_dict1) = 3
True
False

In [6]:
print(f'{my_dict1["name"] = }')

try:
    print(f'{my_dict1["name2"] = }')
except KeyError as e:
    print(f'KeyError: {e}')

my_dict1["name"] = 'Max'
KeyError: 'name2'

In [7]:
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict["A"]["name"] = 'Max'

In [9]:
print(f'{my_dict1.get("name") = }')

print(f'{my_dict1.get("name2") = }')

print(f'{my_dict1.get("name2", "replacement") = }')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2", "replacement") = 'replacement'

In [10]:
print(f'{my_dict1.keys() = }')

print(f'{my_dict1.values() = }')

print(f'{my_dict1.items() = }')

my_dict1.keys() = dict_keys(['name', 'age', 'city'])
my_dict1.values() = dict_values(['Max', 28, 'New York'])
my_dict1.items() = dict_items([('name', 'Max'), ('age', 28), ('city', 'New York')])

In [11]:
print(f'{my_dict1 = }')

my_dict1["id"] = 123

print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York', 'id': 123}

In [19]:
del my_dict1["id"]
print(f'{my_dict1 = }')

KeyError: 'id'

In [20]:
my_dict1["age"] = 30
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 30, 'city': 'New York'}

In [21]:
my_dict1.update(age = 40, id = 123, occupation = "Data Scientist")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [22]:
my_dict_more = {"age": 50, "affiliation": "Hongik Univ."}
my_dict1.update(my_dict_more)
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist', 'affiliation': 'Hongik Univ.'}

In [23]:
my_dict1.pop("affiliation")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [24]:
occupation = my_dict1.pop("occupation")
print(f'{my_dict1 = }\n{occupation = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
occupation = 'Data Scientist'

In [26]:
try:
    my_dict1.pop("occupation")
except KeyError as e:
    print(f'KeyError: {e}')

occupation = my_dict1.pop("occupation", "unknown")
print(f'{occupation = }')

KeyError: 'occupation'
occupation = 'unknown'

In [27]:
print(f'{my_dict1 = }')

last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York'}
last = ('id', 123)
my_dict1 = {'name': 'Max', 'age': 50}
last = ('city', 'New York')

In [28]:
my_dict1.clear()
print(f'{my_dict1 = }')

my_dict1 = {}

인덱싱과 슬라이싱 응용

#인덱싱: 오늘이 무슨 요일인지 출력

In [1]:
days = ("월", "화", "수", "목", "금", "토", "일")
today = days[0]

print(f'오늘은 {today}요일입니다.')

오늘은 월요일입니다.

#슬라이싱: 주중과 주말 나누기

In [2]:
weekdays = days[0:5]
weekend = days[5:]

print(f'주중: {weekdays}')
print(f'주말: {weekend}')

주중: ('월', '화', '수', '목', '금')
주말: ('토', '일')